In [56]:
import sqlite3
db = sqlite3.connect('IdleTycoon.db')
con = db.execute("select * from customer_record")

In [58]:
def test(name):
    result = db.execute("select * from customer_record")
        #if remaining > 0:
            #print("inside remaining")
        #self.balance = remaining
            #data = [name, cost, (self.balance)]
 

    for store in result:
        print("inside result "+store[0])

        if store[0] == name:
            print("name is: "+store[0])
            count = db.execute("select store_count from customer_record where store_name== '%s'" % name).fetchall()[0][0]
            count += 1
            update_query = (0, count, name)
            db.execute("update customer_record set balance = ?, store_count =? where store_name = ?", update_query)                
            db.commit()


        else:
            print("in else loop")
            data = [name, 1, 1, 1]
            db.execute("insert into customer_record values(?,?,?,?)", data)
            db.commit()

In [64]:
test('ice cream')

inside result dummy
in else loop
inside result ice cream
name is: ice cream
inside result ice cream
name is: ice cream
inside result ice cream
name is: ice cream
inside result ice cream
name is: ice cream

In [74]:
result = db.execute("select * from customer_record")
for i in result:
    print(i[0])
    if i[0] == 'ice cream':
        print("hi")

dummy
ice cream
hi
ice cream
hi
ice cream
hi
ice cream
hi

In [51]:
arr

['dummy', 'ice cream', 'ice cream', 'ice cream']

In [54]:
db.close()

In [57]:
db.execute('drop table customer_record')
db.commit()

OperationalError: database table is locked